<div class="card">
    <h1>Ayúdanos con tu opinión</h1>
    <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdH9wIoZ1I8Sc4EynvudBbzFBsf01eOb_kBFMQ901AVz7Dgsg/viewform?embedded=true" width="640" height="1866" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
     -->
       Tu opinión es importante para nosotros en el progreso y mejoramiento del Traductor Nativo, 
       atraves de este enlace podrá tener un contacto directo con nosotros <br>
     <a href="https://docs.google.com/forms/d/e/1FAIpQLSdH9wIoZ1I8Sc4EynvudBbzFBsf01eOb_kBFMQ901AVz7Dgsg/viewform?usp=sf_link">Clic aqui </a>

     
</div>